.background
    grid-column: 1/5
    place-content: center
    place-items: center

.card
    background: rgba(0, 0, 0, 0.1)
    box-shadow:0 10px 15px 10px rgba(2, 52, 66, 0.3)
    margin: 30px
    padding: 10px 50px

.card-content
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    gap: 5em

.material-symbols-outlined
    font-size: 12em
    display: grid
    place-content: center

.city, .wind, .humidity, .clock, .calendar
    display: flex
    align-items: center
    justify-content: center

.location, .windIcon, .humidityIcon, .clockIcon, .calendarIcon
    font-size: 40px

.tem-body
    display: grid
    place-content: center

.temp
    font-size: 50px
    font-weight: bold
    text-align: center

.containerWeather
    display: grid
    grid-template-columns: auto auto 10% auto
    place-content: center
    gap: 3em
    padding-top: 1em
    color: white

.location
    text-align: center
